@model IEnumerable<RPPP21APP.Models.PlantType>

@{
    ViewData["Title"] = "Index";
}

<h1>Plant Types</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<div class="table-responsive">
<table class="table table-hover table-dark">
    <thead>
        <tr>
                <th scope="col">
                Name of Type
            </th>
                <th scope="col">
                Calories/100g
            </th>
                <th scope="col">
                Fat/100g
            </th>
                <th scope="col">
                Protein/100g
            </th>
                <th scope="col">
                Fiber/100g
            </th>
                <th scope="col">
                Carbohydrates/100g
            </th>
                <th scope="col">
                Vitamins
            </th>
                <th scope="col">
                Biology of Plant
            </th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                    <td scope="row">
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CaloriesPer100g)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FatPer100g)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProteinPer100g)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FiberPer100g)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CarbsPer100g)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vitamins)
            </td>
               <td>
                    @Html.DisplayFor(modelItem => item.PlantBiology.Name)
                </td>
            <td>
                        <a asp-action="Edit" asp-route-id="@item.PlantTypeId" class="btn btn-secondary mr-2"><span class="glyphicon glyphicon-wrench"></span></a>
            </td>
            <td>
                        <a asp-action="Delete" asp-route-id="@item.PlantTypeId" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span></a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>