@model IEnumerable<RPPP21APP.Models.Reservation>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<div class="table-responsive">
    <table class="table table-hover table-dark">
    <thead>
        <tr>
            <th>
                Reservation ID
            </th>
            <th>
                Customer
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ReservationId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.Name)
            </td>
            <td>
                        <a asp-action="AddPlantReservation" asp-route-id="@item.ReservationId" class="btn btn-primary"> Add Plant</a>
                        <a asp-action="Details" asp-route-id="@item.ReservationId" class="btn btn-warning">Details</a>
                        <a asp-action="DeleteWholeReservation" asp-route-id="@item.ReservationId" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>