@model RPPP21APP.Models.Lease

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Lease</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Contract)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Contract.ContractId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LeaseType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LeaseType.LeaseTypeId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Plot)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Plot.PlotId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.LeaseId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
