@model IEnumerable<RPPP21APP.Models.GroupOfPlant>

@{
    ViewData["Title"] = "Index";
}

<h1>Groups</h1>

<p>
    <a asp-controller="GroupOfPlants" asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<div class="table-responsive page" align="left">
    <table class="table table-hover table-dark" id="data" align="center">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.GroupsOnPlot.Plot.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PlantType)
                </th>
                
                <th>
                    @Html.DisplayName("Actions")
                </th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.GroupsOnPlot.Plot.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PlantType.Type)
                </td>
                    <td>
                    @foreach (var item2 in item.ActionOnGroups.Take(3))
                    {

                            @Html.DisplayFor(modelItem => item2.Action.Description)
                            <span>|</span>
                    }
                    </td>
                <td>
                    <a asp-controller="ActionOnGroup" asp-action="Index" asp-route-id="@item.GroupOfPlantsId" class="btn btn-secondary mr-2">Actions</a>
                    @*<a asp-controller="Plot" asp-action="Edit" asp-route-id="@item.PlotId" class="btn btn-danger">Edit</a>*@
                </td>

            </tr>
    }
        </tbody>
    </table>
</div>
