@model IEnumerable<RPPP21APP.Models.Contract>

@{
    ViewData["Title"] = "Index";
}

<h1>Contracts</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>

<p>
    <a asp-controller="Contractor" asp-action="Index" class="btn btn-primary">See contractors</a>
</p>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ContractId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        @if (item != null) {    
        <tr>
                <td>
                    @Html.DisplayFor(model => item.ContractId)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Date)
                </td>
                <td>
                <a asp-action="Edit" asp-route-id="@item.ContractId" class="btn btn-secondary mr-2">Edit</a>
                <a asp-action="Details" asp-route-id="@item.ContractId" class="btn btn-secondary mr-2">Details</a>
                <a asp-action="Delete" asp-route-id="@item.ContractId" class="btn btn-danger">Delete</a>
                </td>
        </tr>
        }   
    }
    </tbody>
</table>