@model RPPP21APP.Models.Passport

@{
    ViewData["Title"] = "Details";
}
<div>
    <a asp-action="Edit" asp-route-id="@Model?.PassportId" class="btn btn-secondary">Edit</a>
    <a asp-action="Index" class="btn btn-primary">Back to Passports</a>
    <a asp-controller="Plant" asp-action="Index" class="btn btn-warning">Back to Plants</a>
</div>
</br>
<div class="card bg-dark text-white">
    <h5 class="card-header">Passport of @ViewBag.Plant.Name</h5>

    <div class="card-body">
        <table class="table table-hover table-dark">
            <tbody>
                <tr>
                    <th>Passport ID</th>
                    <td>@Html.DisplayFor(model => model.PassportId)</td>
                </tr>
                <tr>
                    <th>Origin of Plant</th>
                    <td>@Html.DisplayFor(model => model.Origin)</td>
                </tr>
                <tr>
                    <th>Mother Farm</th>
                    <td>@Html.DisplayFor(model => model.MotherFarm)</td>
                </tr>
                <tr>
                    <th>Flora Croatica</th>
                    <td>@Html.DisplayFor(model => model.LinkToFloraCroatia)</td>
                </tr>
                <tr>
                    <th>Plant Name</th>
                    <td>@ViewBag.Plant.Name</td>
                </tr>
                <tr>
                    <th>Plant Type</th>
                    <td>@ViewBag.Plant.GroupOfPlants.PlantType.Type</td>
                </tr>
                <tr>
                    <th>Calories/100g</th>
                    <td>@ViewBag.Plant.GroupOfPlants.PlantType.CaloriesPer100g</td>
                </tr>
                <tr>
                    <th>Carbohydrates/100g</th>
                    <td>@ViewBag.Plant.GroupOfPlants.PlantType.CarbsPer100g</td>
                </tr>
                <tr>
                    <th>Fat/100g</th>
                    <td>@ViewBag.Plant.GroupOfPlants.PlantType.FatPer100g</td>
                </tr>
                <tr>
                    <th>Fiber/100g</th>
                    <td>@ViewBag.Plant.GroupOfPlants.PlantType.FiberPer100g</td>
                </tr>
                <tr>
                    <th>Protein/100g</th>
                    <td>@ViewBag.Plant.GroupOfPlants.PlantType.ProteinPer100g</td>
                </tr>
                <tr>
                    <th>Vitamins</th>
                    <td>@ViewBag.Plant.GroupOfPlants.PlantType.Vitamins</td>
                </tr>
                <tr>
                    <th>Plant Biology</th>
                    <td>@ViewBag.Plant.GroupOfPlants.PlantType.PlantBiology.Name</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
