@model Plot
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">@Model.Name</h1>
        <p class="col-md-8 fs-4"> Coordinates: @Model.Coordinates</p>
        <p class="col-md-8 fs-4"> Area: @Model.Area</p>
        @foreach(var item in Model.Infrastructures)
        {
                <p class="col-md-8 fs-4"> Infrastructure name: @item.Name</p>
        }
        @foreach (var item in Model.GroupsOnPlots)
        {
            @foreach (var item2 in item.GroupOfPlants)
            {
                <p class="col-md-8 fs-4"> Group name: @item2.PlantType.Type</p>
                @foreach (var item3 in item2.Plants)
                {
                    <p class="col-md-8 fs-4"> Group name: @item3.Name</p>
//Will only leave Groups as detail! When Click on Group, then new View for groups where are species etc..
                }
            }
            
        }
        <button class="btn btn-primary btn-lg" type="button">Example button</button>
      </div>
    </div>
