@model Plot
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="p-1 mb-2 rounded-3">
    <div class="container-fluid py-5">
        <h2>Contract @Html.DisplayFor(model => model.Name)</h2>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Coordinates)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Coordinates)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Area)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Area)
            </dd>
            <dt class="col-sm-2">
                Sun level
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.WeatherConditions.SunLevel)
            </dd>
            <dt class="col-sm-2">               
                Water level
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.WeatherConditions.WaterLevel)           
            </dd>          
        </dl>
    </div>
</div>

<h2>Infrastructure</h2>
<div class="table-responsive">
    <table class="table table-hover table-dark">
        <thead>
            <tr>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Infrastructures.FirstOrDefault().Name)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Infrastructures.FirstOrDefault().BuildDate)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Infrastructures.FirstOrDefault().Cost)
                </th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Infrastructures)
            {
                <tr>
                    <td scope="row">
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BuildDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cost)
                    </td>
                    <td>                       
                        <a asp-controller="Infrastructure" asp-action="Edit" asp-route-id="@item.InfrastructureId" class="btn btn-secondary mr-2">Edit</a>
                        <a asp-controller="Infrastructure" asp-action="Delete" asp-route-id="@item.InfrastructureId" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<h2>Plants</h2>
<div class="table-responsive">
    <table class="table table-hover table-dark">
        <thead>
            <tr>
                <th scope="col">
                
                    @Html.DisplayNameFor(model => model.GroupsOnPlots.FirstOrDefault().GroupOfPlants.FirstOrDefault().PlantType.Type)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.GroupsOnPlots.FirstOrDefault().GroupOfPlants.FirstOrDefault().Plants.FirstOrDefault().Name)
                <th scope="col">
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.GroupsOnPlots)
            {
                @foreach (var item2 in item.GroupOfPlants)
                {
                    @foreach (var item3 in item2.Plants)
                    {
                        <tr>
                            <td scope="row">
                                @Html.DisplayFor(modelItem => item2.PlantType.Type)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item3.Name)
                            </td>                         
                           <td>
                            
                                <a asp-controller="Passport" asp-action="Details" asp-route-id="@item3.PassportId" class="btn btn-secondary mr-2">Passport</a>
                                <a asp-controller="GroupOfPlants" asp-action="Delete" asp-route-id="@item.PlotId" class="btn btn-danger">Delete</a>
                            </td>
                        </tr>
                    }
                }
            }
        </tbody>
    </table>
</div>

     @*   @foreach (var item in Model.GroupsOnPlots)
        {
            @foreach (var item2 in item.GroupOfPlants)
            {
                <p class="col-md-8 fs-4"> Group name: @item2.PlantType.Type</p>
                @foreach (var item3 in item2.Plants)
                {
                    <p class="col-md-8 fs-4"> Group name: @item3.Name</p>
//Will only leave Groups as detail! When Click on Group, then new View for groups where are species etc..
                }
            }
            
        }
        <button class="btn btn-primary btn-lg" type="button">Example button</button>
     </div>
</div>
*@